/*===========================
          GERAL
==============================*/

html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: calc(12px + 0.390625vw);
}
a {
    text-decoration: none;
    color: #E5E5E5;
}

/*===========================
          HEADER
==============================*/

header{
    background-color: #3B8686;
    padding: 20px 10vw 20px 10vw;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul {
  display: flex;
}
header nav ul li {
   margin: 0 35px 0 40px;
}

header nav ul li a.atual {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px 20px 5px 20px;
    border-radius: 20px;
}

/*===========================
          BANNER
==============================*/


section.banner {
    padding: 25vw 10vw 5vw 10vw;
    background: linear-gradient(rgba(121,189,154,0.2),rgba(121,189,154,0.2)), url(../imagens/back-banner.png) no-repeat center;
    background-size: cover;
}
section.banner h2 {
    font-size: 3rem;
    color: #FFFFFF;
    background-color: rgba(59, 134, 134, 0.5);
    width: 40%;
    padding: 1vw;
}

/*===========================
          SERVIÇOS
==============================*/

section.servico {
    padding: 7vw 10vw 7vw 10vw;
}
section.servico ul {
    display: flex;
    justify-content: space-between;
}
section.servico ul li {
    text-align: center;
    width: 22%;
}
section.servico ul li span {
    color: #3B8686;
    font-size: 3.5rem;
    margin: 0 0 1vw 0;
}
section.servico ul li h3 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1vw 0 1vw 0;
}
section.servico ul li p {
    color: #747474;
    margin: 0 0 2vw 0;
}
.botao {
    background-color: #3B8686;
    padding: 10px 15px 10px 15px;
}


/*===========================
          NÚMEROS
==============================*/

section.numeros {
    padding: 4vw;
    background: linear-gradient(rgba(121,189,154,0.2),rgba(121,189,154,0.2)), url(../imagens/back-numeros.png) no-repeat center;
    background-size: cover;
}
section.numeros ul {
    display: flex;
    justify-content: center;
    margin: 0 4vw 0 0 ;
}
section.numeros ul li {
    color: white;
    font-size: 2rem;
    padding: 2vw 0 0 2vw;
    line-height: 2.5vw;
    margin: 0 0 0 8vw;
    
}
section.numeros ul li p {
    font-size: 3.5rem;
}
section.numeros ul li h3 {
    text-align: center;    
}


/*===========================
          POSSIBILIDADE
==============================*/


section.poss {
    margin: 2vw 0 0 5vw;
    padding: 4vw;
}
section.poss {
    display: flex;
}
section.poss  h1 {
    font-size: 2rem;
    color: #0B486B;
    margin: 0 0 2vw 0 
}
section.poss div.div1 p {
    width: 65%;
    line-height: 1.5vw;
    color: #747474;
}

section.poss div.div1 p button {
    color: white;
    background-color: #0B486B;
    padding: 15px;
    margin: 2vw 0 0 0;
}

section.poss div.div2  {
    padding: 0 10vw 0 0;
}

/*===========================
          FOOTER
==============================*/


footer{
    background-color: #3B8686;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 2vw;
}
footer span{
    font-size: 2vw;
    padding: 0 10px;
    padding-bottom: 20px;
}
footer div{
    color: white;
}
footer div.espaco{
    
    text-align: right;
    
}
footer p{
    padding: 11px;
}